.filterCalendar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border: none;
  border-radius: 8px;
  background-color: #303030;
  color: #b9b9b9;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  transition:
    background-color 300ms ease-out,
    color 300ms ease-out;
}

.filterCalendar:hover {
  background-color: #4f4e4e;
  color: #ffffff;
}

.filterCalendar--active {
  color: #ffffff;
}

.filterCalendar--active:hover {
  filter: brightness(1.1);
}
